@font-face {
  font-family: 'HanYiXiXingKai';
  src: url('xiXingKai.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FangZhengMiaoWu';
  src: url('FZMWFont.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
